
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: rgb(0, 255, 47);
    /* audio controls background */
    --plyr-audio-controls-background: darkslateblue;
    /* audio controls color */
    --plyr-audio-control-color: rgb(0, 255, 47);
    /* font family for player */
    --plyr-font-family: sans-serif;
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: rgb(0, 66, 12);
    --plyr-tooltip-background: rgb(0, 66, 12);
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 16px;
    --backgroundcolor: darkmagenta;

    --visited-links: skyblue;
    --hover-links: royalblue;
    --headercolor: royalblue;
    --primaryfont:  "Press Start 2P", system-ui;
    --secondaryfont: "Glegoo", serif;
}

body {
    background: var(--backgroundcolor);
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;
    background: darkslateblue;
}


/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
/*     flex-direction: row; */
  flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

}

h1 {
font-family: var(--primaryfont);
color: var(--headercolor);
  padding-left: 50px;
  padding-top: 50px;
}
h2{
    font-family: var(--primaryfont);
    color: var(--headercolor);
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
h3{
    font-family: var(--primaryfont);
    color: var(--plyr-color-main);
}





section{
  margin: 50px;
  border: ridge 10px var(--plyr-color-main);
  padding: 50px;
  max-width: 20em;
}

p{
  color: var(--plyr-color-main);
  font-family: var(--secondaryfont)
}

/* Footer */
footer {
  text-align: center;
  font-family: var(--primaryfont);
}
footer a {
  color: var(--plyr-color-main); /* Default link color */
}

footer a:visited {
    color: var(--visited-links); /* Color after the link has been visited */
}

footer a:hover {
    color: var(--hover-links); /* Color when the mouse hovers over the link */
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        /* flex-direction: column; */
    }
}